.main-header {
  background-color: $clr-ui-alt;
  @include mobile {
    background-color: transparent;
  }
  &.active {
    .main-nav {
      transform: translateY(0%);
    }
    .logo-mob {
      transform: rotate(180deg);
    }
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include mobile {
      justify-content: flex-end;
      padding: 0 0 75px 0;
    }
  }
  .logo {
    img {
      display: block;
      &.logo-mob {
        display: none;
        transition: all 300ms;
        width: 40px;
        height: 40px;
        background-color: lighten($clr-ui,15%);
        border-radius: 50%;
        position: fixed;
        top: $spacing /2;
        right: $spacing /2;
        z-index: 2;
      }
      @include mobile {
        &.logo {
          display: none;
        }
        &.logo-mob {
          display: block;
          padding: 10px;
        }
      }
    }
  }
  .main-nav {
    @include mobile {
      width: 100%;
      transform: translateY(-100%);
      position: fixed;
      z-index: 1;
      top: 0;
      padding-top: 75px;
      background-color: $clr-ui-alt;
      transition: transform 300ms;
    }
    ul {
      list-style: none;
      margin: $spacing / 3 0;
      padding: 0;
      @include mobile {
        margin: $spacing / 2 0;
      }
      li {
        display: inline-block;
        @include mobile {
          display: block;
        }
        a {
          text-decoration: none;
          color: $clr-txt-muted;
          text-transform: uppercase;
          margin-left: $spacing;
          font-weight: 700;
          letter-spacing: 1px;
          @include mobile {
            margin: 0;
            padding: $spacing /1.5;
            display: block;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            font-size: $fszl;
            -webkit-tap-highlight-color: lighten($clr-ui-alt,1%);
          }
            &.active {
              color: $clr-txt;
              @include mobile {
                background-color: lighten($clr-ui,15%);
              }
            }
          @include hover-supported {
            &:hover {
              color: $clr-txt;
            }
          }
        }
      }
    }
  }
}