-   var page="about"
doctype html
html(lang="en")
    head
        include ./head
        title About Toiled records
    body
        include ./components/header/header
        main.about-page
            .wrapper
                article
                    h2 Welcome to Toiled records official site
                    p Founded in 2019, in Russia. Thank you for your interest in our label. We are trying not to dwell on specific genres, so we’ll release a variety of dance music, as well as rock and hip hop. To be honest, we started the label as a hobby and do not plan to plunge deeply into the market. Therefore, we can afford experiments, not following to a clear business strategy and other marketing crap.
                    p The main criterion of music selection on our label is originality. We are open to any kind of cooperation, so do not hesitate to write us letters.
        script(src="./index.js")