-   var page="contacts"
doctype html
html(lang="en")
    head
        include ./head
        title Contact Toiled records
    body
        include ./components/header/header
        main.contact-page
            .wrapper
                article
                    h2 Contact us via e-mail
                    p Demos and other enquiries to:
                        |&nbsp;
                        a(href="mailto: toiledrec@gmail.com") toiledrec@gmail.com
        script(src="./index.js")